.about {
  margin-top: 9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11rem;
}

.about__top__text {
  font-size: rem(24);
  font-family: KaushanScriptRegular;
  color: #333333;
}

.about__title__text {
  margin: 2.5rem 0 4rem 0;
  font-size: rem(30);
  font-family: MontserratBold;
}

.about__line {
  width: 6rem;
  height: 3px;
  background: #f38181;
  margin-bottom: 4.5rem;
}

.about__discription__text {
  color: #999999;
  font-family: Montserrat;
  font-size: rem(15);
  margin-bottom: 10rem;
}

.about__pics__list {
  display: flex;
  justify-content: space-between;
}

.about__pics__item {
  width: 31.5%;
}

.about__pics__link {
  display: inline;
}

.about__pics__item {
  position: relative;
  transition: 0.3s;
}

.about__pics__item_active {
  transform: translateX(-1rem) translateY(-1rem);
  box-shadow: 1rem 1rem 0rem #95e1d3;
  .about__pics__hover {
    opacity: 1;
    z-index: 0;
  }
}

.about__pics__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9)) ;
  display: flex;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}

#users {
  fill: #ffffff;
  margin-bottom: 0.5rem;
}

.about__pics__hover__text {
  color: #ffffff;
  font-family: MontserratBold;
  font-size: rem(18);
}

.about__pics__pic {
  position: relative;
  transition: 0.3s;
}

/////////////////////////////////////////////////////
.blue_theme {
  background: #95e1d3;
  margin-bottom: 5rem;
}

.numbers {
  display: flex;
}

.numbers__block {
  width: 25%;
  padding: 7rem 0;
  text-align: center;
  border-left: 1px #b5eae0 solid;
  &:last-child {
    border-right: 1px #b5eae0 solid;
  }
}

.numbers__block_number {
  font-size: rem(72);
  font-family: MontserratBold;
  color: #ffffff;
}

.numbers__block__text {
  font-family: MontserratRegular;
  font-size: rem(14);
  text-transform: uppercase;
  color: #ffffff;
}