@import "mixin";
@import "wrapper";
@import "mainpage";
@import "about";
@import "work";
@import "contacts";
@import "blog";


@font-face{
  font-family: 'MontserratRegular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'MontserratBold';
  src: url('../fonts/Montserrat/Montserrat-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'KaushanScriptRegular';
  src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}